* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-principal: #040611;
    --color-secundario: #0f101f;
}

/* HEADER */

.header {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: fit-content;
    position: relative;
}

.header__img-container {
    width: 100%;
    background: linear-gradient(90deg, hsla(218, 39%, 34%, 0.5), hsla(239, 42%, 26%, 0.5)), url(../images/header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -550px;
    position: absolute;
    height: 250px;
}

/* Logo */

.header__nav-logo {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-secundario);
}

.header__nav-logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    height: fit-content;
    width: 300px;
}

.header__nav-logo a span {
    color: var(--color-secundario);
}

/* Iconos */

.header__nav-icons {
    width: 20%;
    height: 80px;
    display: flex;
    font-size: 24px;
    display: flex;
    color: #fff;
    align-items: center;
    border-bottom: 1px solid var(--color-secundario);
}

.header__nav-icons div {
    height: fit-content;
    flex-grow: 1;
    text-align: center;
}

.header__nav-icons div i {
    transition: all .2s;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.header__nav-icons div i:hover {
    font-size: 22px;
}

.size {
    font-size: 22px;
}

/* Buscador */

.header__nav-buscador {
    position: absolute;
    width: 85%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right
}

.buscador-input {
    width: 700px;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    outline: 0;
    border: 0;
    background: linear-gradient(to bottom, rgba(31, 33, 44, 0.2), rgba(15, 16, 31, 0.3));
    ;
    color: #fff;
    border-radius: 10px;
}

.buscador-input::placeholder {
    font-size: 18px;
    color: #fff;
}

/* Navegación */

.header__nav-ul-container {
    width: 100%;
    position: relative;
}

.header__nav-ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 0;
}

.nav-li {
    list-style: none;
    width: 100%;
    background: rgba(15, 16, 31, 0.2);
}

.nav-li-a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 4px solid var(--color-secundario);
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    transition: 300ms;
}

.nav-li-a:hover {
    background: rgba(15, 16, 31, 0.3);
    cursor: pointer;
    color: #fff;
}

/* WHATSAPP */

.whatsapp{
    position: fixed;
    width: 90px;
    right: 0;
    margin: 0 10px 10px 0;
    z-index: 1000000;
    bottom: 0;
}

/* MAIN */

/* Envios */

.envios__container {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 5px
}

.envios {
    font-size: 22px;
}

.envios span {
    color: var(--color-principal);
    font-weight: 700;
}

/* SECTION - Carousel Inicio */

.carousel__container {
    height: 400px;
}

.carouselInicio{
    height: fit-content;
    max-height: 400px;
}

/* SECTION - Lo más vendido */

.lomasvendido{
    margin-top: 80px;
}

.lomasvendido-titulo{
    width: 80%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-weight: 500;
}

/* GLIDER - Lo más vendido */

.carousel-2{
    width: 80%;
    margin: auto;
}

.carouselContainer{
    position: relative;
}

.carouselItems{
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carouselItem{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.producto{
    width: 100%;
    height: 350px;
    position: relative;
}

.productoImagen{
    width: 100%;
    height: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.productoImagen img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.productoFav{
    width: 45px;
    height: 45px;
    background-color:#eee;
    position: absolute;
    top: 0;
    right: 0;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s;
    margin: 5px 5px 0px 0;
}

.fa-heart-o{
    font-size: 22px;
    transition: font-size 0.1s;
}

.fa-heart{
    font-size: 22px;
    transition: font-size 0.1s;
}

.productoFav:hover{
    background-color:rgb(243, 243, 243);
}

.productoFav:hover .fa-heart-o{
    font-size: 24px;
}

.productoFav:hover .fa-heart{
    font-size: 24px;
}

.productoZoom{
    width: 45px;
    height: 45px;
    background-color:#eee;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 0 5px 5px 0;
}

.fa-expand{
    font-size: 22px;
    transition: font-size 0.1s;
}

.productoZoom:hover{
    background-color:rgb(243, 243, 243);
}

.productoZoom:hover .fa-expand{
    font-size: 24px;
}

.productoNombre{
    font-size: 15px;
    font-family: Roboto, sans-serif;
    padding: 5px;
}

.productoPrecio{
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.btnCarouselAnterior{
    padding-right: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    left: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btnCarouselSiguiente{
    padding-left: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    right: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btnCarouselAnterior:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.btnCarouselSiguiente:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

/* SECTION - Recomendado para vos*/

.sectionRecomendado{
    margin-top: 80px;
}

.recomendadoTitulo{
    width: 80%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-weight: 500;
}

/* GLIDER - Recomendado para vos */

.carousel-3{
    width: 80%;
    margin: auto;
}

.carouselItems3{
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.btnCarouselAnterior3{
    padding-right: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    left: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btnCarouselSiguiente3{
    padding-left: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    right: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btnCarouselAnterior3:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.btnCarouselSiguiente3:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

/* SECTION - SUSCRIBIRSE */

.suscribirseContainer{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.suscribirse{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.suscribirseTitulo{
    font-size: 24px;
    font-weight: bold;
}

.suscribirseParrafo{
    font-size: 18px
}

.suscribirseForm{
    width: 90%;
    margin: auto;
}

.suscribirseInput{
    width: 70%;
    height: 40px;
    padding: 6px 12px;
}

.suscribirseBtn{
    width: 30%;
    background: linear-gradient(to bottom, rgba(31, 33, 44, 1), rgba(15, 16, 31, 1));;
    border: none;
    color: #fff;
    padding: 6px 20px;
    height: 40px
}

/* SECTION - Marcas */

.sectionMarcas{
    width: 100%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-weight: 500;
    margin-bottom: 80px;
}

.MarcasTitulo{
    width: 80%;
    margin: auto;
    padding: 20px 0 20px 0;
    font-weight: 500;
}

/* GLIDER - Marcas */

.carousel-4{
    width: 80%;
    margin: auto;
}

.carouselItems4{
    overflow: hidden;
    box-shadow: none!important;
    border-radius: 10px;
}

.productoMarcas{
    width: 100%;
    height: 100px;
    position: relative;
}

.productoMarcasImagen img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: relative;
}

.carouselItems4{
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#btn4{
    font-size: 18px;
}

.btnCarouselAnterior4{
    padding-right: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    left: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.productoMarcasImagen{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.btnCarouselSiguiente4{
    padding-left: 10px;
    position: absolute;
    display: block;
    width:30px;
    height: 100%;
    border: none;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    right: -30px;
    background: none;
    color: rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btnCarouselAnterior4:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

.btnCarouselSiguiente4:hover{
    color: rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
}

/* FOOTER - Footer*/

.footer{
    background-color: #ddd;
}

.footerContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.footerItem{
    display: flex;
    flex-direction: column;
}

.footerItemTitle{
    padding: 5px;
}

.footerItem-a{
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.footerItem-a:hover{
    color:rgba(0, 0, 0, 0.5)
}

.footerItem-p{
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* FOOTER - Copyright*/

.copyright{
    background-color: #ddd;
}

.copyrightContainer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 80%;
    display: flex;
}

.copyrightLogo{
    padding: 20px;
}

.copyrightLogo a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    height: fit-content;
    width: 300px;

}

.copyrightLogo a span {
    color: var(--color-secundario);
}

.copyrightText{
    padding: 20px;
}

